@font-face {
    font-family: "HelveticaThin";
    src: url("../fonts/HelveticaThin/HelveticaThin.eot");
    src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"),
    url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background: #f5f5f5;
    color: #999;
    font-family: HelveticaRegular;
    font: 400 16px/1.5em inherit;
    margin: 0;
}

h3 {
    margin: 0;
}

a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: #1dabb8;
}

fieldset {
    border: none;
    margin: 0;
}

input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}

input[type="submit"] {
    cursor: pointer;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: ' ';
    display: table;
}
.clearfix:after {
    clear: both;
}


.header{
    color: white;
    font-family: HelveticaRegular;
    background: url("../img/header.jpg");
    margin-bottom: 2%;
}

.header h2{
    font-family: HelveticaThin;
    margin-bottom: 0;
}

.pnl{
    float: right;
}

.pnl-label{
    float: right;
    margin-right: 1%;
    margin-top: 0.5%
}

.header-btn{
    font-family: HelveticaThin;
    background: transparent;
    color: white;
}

.header-btn:hover{
    background: #329dff;
    color: white;
}

.pageFooter{
    background: #dddddd;
    font-family: HelveticaRegular;
    color: #828282;
    font-size: 10px;
}

/* ---------- LOGIN-FORM ---------- */
#login-form {
    width: 300px;
    margin: 5px auto 0 auto;
}

#login-form h3 {
    background-color: #329dff;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

#login-form fieldset {
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    position: relative;
}

#login-form fieldset:before {
    background-color: #fff;
    content: "";
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
}

/*#login-form input {
    font-size: 14px;
}*/

#login-form input[type="text"],
#login-form input[type="email"],
#login-form input[type="password"],
#login-form input[type="date"],
#login-form textarea,
#login-form select{
    border: 1px solid #dcdcdc;
    padding: 12px 10px;
    width: 100%;
}

#login-form input[type="text"],
#login-form input[type="email"],
#login-form textarea,
#login-form input[type="date"],
#login-form select{
    border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
    border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"] {
    border-radius: 3px;
    float: right;
    margin-top: 20px;
    padding: 12px 20px;
}

/* ---------- STUDENTS-TABLE ---------- */
#newspaper-b
{
    font-family: HelveticaRegular;
    font-size: 13px;
    margin-left: 45px;
    margin-bottom: 10px;
    width: 1045px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #69c;
}
#students-list h3,
#students-list3 h3,
#trainings-list h3,
#trainings-list1 h3,
#trainings-list2 h3,
#trainings-list3 h3,
#teachers-list h3,
#teachers-list2 h3,
#teachers-list3 h3,
#archive-list h3,
#finished-trainings-list h3,
#finished-trainings-list3 h3,
#feedbacks-list2 h3{
    color: #282830;
    font-size: 14px;
    padding: 20px;
    text-transform: uppercase;
}

#newspaper-b th
{
    padding: 15px 10px 10px 10px;
    background: #329dff;
    font-weight: normal;
    font-size: 15px;
    color: #ffffff;
}
#newspaper-b tbody
{
    background: #e8edff;
}
#newspaper-b td
{
    padding: 10px;
    color: #669;
    border-top: 1px dashed #fff;
}
#newspaper-b tbody tr:hover td
{
    color: #339;
    background: #d0dafd;
}

#add-student{
        width: 1045px;
}

#add-student input[type="submit"] {
    border-radius: 3px;
    float: right;
    padding: 8px 20px;
}

.control-label:after {
    color: #d00;
    content: "*";
    margin-left: 4px;
}
